<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE"></title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <style>
        .navbar {
            background: #00518c;
        }

        li a {
            display: block;
            border-radius: 8px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        li a:hover {
            background-color: #005da2;
        }
    </style>
</head>
<body>

<!-- Main Navigation -->
<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" th:href="@{/}">Analista de Falência Pessoal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:9090/homeTeste}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{http://localhost:9091/usuario}">Usuarios</a>
            </li>
            <li class="nav-item">
                   <a class="nav-link" th:href="@{http://localhost:9092/evento/listarEventos}">Eventos</a>
            </li>
            <!--<li class="nav-item">
               <a class="nav-link" th:href="@{/falenciaPessoal/categorias}">Categorias</a>
           </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/changelog}">Changelog</a>
            </li>-->
            <li class="nav-item">
                <a class="nav-link" href="https://www.youtube.com/watch?v=p1_VQoJ7SNQ" target="_blank">Sobre</a>
            </li>
        </ul>
    </div>
</nav>

<!-- Content Section -->
<section layout:fragment="content">
    <p>This is filled by the content template.</p>
</section>

<!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <p class="text-muted">&copy; 2021 Fernando José Schmatz. All rights reserved.</p>
        </div>
    </div>
</footer>

<!-- Optional Section -->
<th:block layout:fragment="optional" />

</body>
</html>